<?xml version="1.0"?>

<model>
  <name>Marsyard 2022 terrain</name>
  <version>1.1</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Mars Society Polska</name>
  </author>

  <description>
    The model of the MarsYard terrain prepared for the European Rover Challenge 2022 competition.
  </description>

</model>
