<launch>

  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="1.0" />
  <arg name="R" default="0.0" />
  <arg name="P" default="0.0" />
  <arg name="Y" default="0.0" />
  <arg name="mecanum_wheels" default="false" />

  <arg name="model" default="$(find leo_description)/urdf/leo_sim.urdf.xacro" />

  <arg name="fixed" default="false" />
  <arg name="robot_ns" default="" />
  <arg name="model_name" default="leo" />

  <group ns="$(arg robot_ns)">

    <param name="robot_description" command="xacro $(arg model) 
      fixed:=$(arg fixed)
      robot_ns:='$(arg robot_ns)'
      mecanum_wheels:=$(arg mecanum_wheels)
    " />

    <rosparam command="load" file="$(find leo_gazebo)/config/pid_gains.yaml" />

    <node name="urdf_spawner"
      pkg="gazebo_ros"
      type="spawn_model"
      respawn="false"
      args="-urdf 
      -x $(arg x) -y $(arg y) -z $(arg z)
      -R $(arg R) -P $(arg P) -Y $(arg Y)
      -model $(arg model_name) 
      -param robot_description
    " />
  </group>

</launch>